
Lectures/Probabilistic/.ipynb_checkpoints/

Assignments/Titanic/.ipynb_checkpoints/

*.Rmd

mchlearn/__pycache__/

.DS_Store

Assignments/SkinSegmentation/.ipynb_checkpoints/

Assignments/SkinSegmentation/data/.ipynb_checkpoints/

Assignments/Banknotes/data/.ipynb_checkpoints/

Assignments/Banknotes/.ipynb_checkpoints/
